{% extends 'base.html.twig' %}

{% block title %}Mon Portfolio
{% endblock %}

{% block body %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<a href="{{ path('app_home')}}" class="snip1221 yellow ion-ios-home-outline">
							<i class="fa fa-home"></i>
							<span class="home">Accueil</span>
						</a>
	<section class="hero-section">
		<div class="card-grid">
			{% for portfolio in portfolios %}
				<a class="card" href="#">
					<div class="card__background" style="#">{{portfolio.imagePath}}</div>
					<div class="card__content">
						<p class="card__category">{{portfolio.name}}</p>
						<h3 class="card__heading">{{portfolio.description}}</h3>

			{% endfor %}
				</div>
			</a>

		</div>

	</section>

{% endblock %}
