<link href="{{ asset('css/style03.css') }}" rel="stylesheet">


<nav>
	<img src="{{ asset('images/logo.png') }}" class="logo">
	<ul class="snip1217">
		<li>
			<a href="#">HOME</a>
		</li>
		<li>
			<a href="#">ABOUT</a>
		</li>
		<li>
			<a href="#">PORTFOLIO</a>
		</li>
		<li>
			<a href="#">SERVICES</a>
		</li>
		<li>
			<a href="#">HIRE ME</a>
		</li>
	</ul>
</nav>
