<link href="{{ asset('css/style03.css') }}" rel="stylesheet">


<nav>
	<img src="{{ asset('images/logo.png') }}" class="logo">
	<ul class="snip1217">
		<li>
			<a href="{{ path('app_home')}}">HOME</a>
		</li>
		<li>
			<a href="{{ path('app_cv')}}">CV</a>
		</li>
		<li>
			<a href="#">PORTFOLIO</a>
		</li>
		<li>
			<a href="#">SERVICES</a>
		</li>
		<li>
			<a href="#">ME CONTACTER</a>
		</li>
	</ul>
</nav>
